#header {
  background-color: #333333;
  color: #FFFFFF;
  box-shadow: 0 2px 2px #333333;
  font-size: 1.4em;
  text-align: center;
  position: relative;
  z-index: 100;
  &>.button {
    display: inline-block;
    padding: 0.6em 0.6em;
    cursor: default;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: background-color 0.2s;
    &:hover {
      background-color: #444;
    }
    &:active, &.active {
      background-color: #555;
    }
  }
}
